.WeatherInfo {
  margin-top: 5px;
}

.WeatherInfo .current-city {
  text-align: left;
  padding: 0px;
}

.WeatherInfo .current-city {
  color: #769fcd;
}

.WeatherInfo .current-day-time,
.WeatherInfo .current-weather,
.WeatherInfo .current-temperature,
.WeatherInfo .weather-stats {
  color: #928a97;
}

.WeatherInfo .current-day-time {
  margin-top: 5px;
}

.WeatherInfo .current-temperature,
.WeatherInfo .weather-stats {
  margin-top: 15px;
}
.WeatherInfo .current-temperature {
  margin-left: -25px;
}

.WeatherInfo .weather-stats {
  font-size: 15px;
  margin-bottom: -3px;
  margin-left: -50px;
}

.WeatherInfo .units {
  font-size: 16px;
  position: relative;
  top: -15px;
}

.WeatherInfo .current-weather {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.WeatherInfo #weather-icon {
  margin-top: -23px;
  /* margin-left: -20px; */
}
